/* Garante que o conteúdo ocupe toda a tela */
.dashboard-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  

  .dashboard-header {
    background-color:#18181B;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Logo */
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Navegação */
  .nav-links {
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  /* Conteúdo central */
  .dashboard-main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
  }
  